<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Pokedex</title>
    <link rel="shortcut icon" href="https://assets.pokemon.com/static2/_ui/img/favicon.ico">
</head>
<body>
    <header>
        <div id="header">
            <div>
                <a href="/">
                    <h1>
                        P<img src="/img/logo.png" alt="">kedex
                    </h1>
                </a>
            </div>

            <nav class="desktop">
                <a href="/">Home</a>
                <a href="/cadastro">Cadastro</a>
            </nav>

            <nav class="mobile">
                <img id="mobileImg" src="/img/menu.png" alt="">
                <ul id="mobileUl">
                    <a href="/">
                        <li>Home</li>
                    </a>
                    <a href="/cadastro">
                        <li>Cadastro</li>
                    </a>
                </ul>
            </nav>
        </div>
    </header>

    <main>

        <div class="detalhe">
            <h2><%= pokemon.nome %> Nº<%= pokemon.id %></h2>
        </div>
        

        <section id="detalhe">
            <article id="detalhe-img">
                <img src="<%= pokemon.imagem %>" alt="">
            </article>

            <article id="detalhe-txt">
                <p><%= pokemon.descricao %></p>

                <div id="status">
                    <div>
                        <h3>Altura</h3>
                        <h4><%= pokemon.altura %>m</h4>

                        <h3>Peso</h3>
                        <h4><%= pokemon.peso %>kg</h4>  
                    </div>

                    <div>
                        <h3>Categoria</h3>
                        <h4><%= pokemon.categoria %></h4>

                        <h3>Habilidade</h3>
                        <h4><%= pokemon.habilidade %></h4>
                    </div>                   
                </div>

                <p><%= pokemon.tipo %></p>

            </article>

        </section>

    </main>

    <footer>
        <a href="http://www.github.com/santos95mat" target="_blank">Powered By Matheus</a>
    </footer>

    <script src="/js/script.js"></script>
</body>
</html>